<p>tablas works!</p>
<div>
  <p class="fs-3">Principales Consultas</p>
  <div class="row">
    <div class="col-4">
      <div class="list-group">
        <a class="list-group-item list-group-item-action custom-link" (click)="tipo_query='insert_client'">Insertar Cliente</a>
        <br>
        <a class="list-group-item list-group-item-action custom-link" (click)="tipo_query=''">Profile</a>
        <br>
        <a class="list-group-item list-group-item-action custom-link" (click)="tipo_query=''">Messages</a>
        <br>
        <a class="list-group-item list-group-item-action custom-link" (click)="tipo_query=''">Settings</a>
        <br>
      </div>
    </div>
    <!-- Implementar el dinamismo, ngif y hacerle funciones en el typescript -->
    <div class="col-8" *ngIf="tipo_query=='insert_client'">
      <p class="fs-3 text-center">Inserte Cliente</p>

      <!-- Formulario cool -->
      <form #clienteForm="ngForm" (ngSubmit)="submitFormClient(clienteForm.value)" >
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4">
          <div class="col">
            <div data-mdb-input-init class="form-outline">
              <input type="text" id="name" class="form-control" name="name" ngModel required/>
              <label class="form-label" for="name" >Nombre Completo</label>
            </div>
          </div>
          <div class="col">
            <div data-mdb-input-init class="form-outline">
              <input type="text" id="id" class="form-control" name="id" ngModel required/>
              <label class="form-label" for="id">CI del Cliente</label>
            </div>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col">
            <div data-mdb-input-init class="form-outline">
              <input type="text" id="address" class="form-control" name="address" ngModel required/>
              <label class="form-label" for="address">Direccion</label>
            </div>
          </div>
          <div class="col">
            <div data-mdb-input-init class="form-outline">
              <input type="text" id="telephone" class="form-control" name="telephone" ngModel required/>
              <label class="form-label" for="telephone">Numero de telefono</label>
            </div>
          </div>
        </div>
        <!-- Submit button -->
        <button data-mdb-ripple-init type="submit" class="btn btn-dark btn-block mb-4">Insertar Cliente</button>
       
      </form>

    </div>
  
  </div>
</div>