<p>tablas works!</p>
<div>
  <p class="fs-3">Principales Consultas</p>
  <div class="row">
    <div class="col-4">
      <div class="list-group">
        <a class="list-group-item list-group-item-action custom-link">Insertar Cliente</a>
        <br>
        <a class="list-group-item list-group-item-action custom-link">Profile</a>
        <br>
        <a class="list-group-item list-group-item-action custom-link">Messages</a>
        <br>
        <a class="list-group-item list-group-item-action custom-link">Settings</a>
        <br>
      </div>
    </div>
    <!-- Implementar el dinamismo, ngif y hacerle funciones en rl typescript -->
    <div class="col-8">
      <p class="fs-3 text-center">Inserte Ciente</p>
    </div>
  
  </div>
  

  <!-- <p class="fs-3 text-center">{{nombre_a_imprimir}}</p>
  <table *ngIf="nombre_a_imprimir!=''"    class="table">
    <thead class="table-dark">
      <tr>
        <th scope="row">#</th>
        <th *ngFor="let atrib of atributos">{{atrib}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let elemento of elementos;let i=index">
        <th scope="row">{{i}}</th>
        <th *ngFor="let atrib of atributos"> {{elemento[atrib]}}</th>
      </tr>
    </tbody>
  </table> -->

</div>