<p>tablas works!</p>
<div>
  <p class="fs-3">Principales Consultas</p>
  <div class="row">
    <div class="col-4">
      <div class="list-group">
        <a class="list-group-item list-group-item-action custom-link" (click)="tipo_query='Inserte Cliente'" (click)="draw_table=false">Insertar Cliente</a>
        <br>
        <a class="list-group-item list-group-item-action custom-link" (click)="tipo_query='Carga por metrado'" (click)="executeQuery()" (click)="draw_table=true">Carga por metrado</a>
        <br>
        <a class="list-group-item list-group-item-action custom-link" (click)="tipo_query='Cliente mas activo'" (click)="executeQuery()" (click)="draw_table=true">Cliente mas activo</a>
        <br>
        <a class="list-group-item list-group-item-action custom-link" (click)="tipo_query='Teleselección'" (click)="executeQuery()" (click)="draw_table=true">Teleselección</a>
        <br>
        <a class="list-group-item list-group-item-action custom-link" (click)="tipo_query='Servicio despertador'" (click)="executeQuery()" (click)="draw_table=true">Servicio despertador</a>
        <br>
        <a class="list-group-item list-group-item-action custom-link" (click)="tipo_query='Historial de llamadas'" (click)="draw_table=false" (click)="url='http://localhost/BackendEtecsa/call_track.php'">Historial de llamadas</a>
        <br>
        <a class="list-group-item list-group-item-action custom-link" (click)="tipo_query='Dar de baja a un cliente'" (click)="draw_table=false" (click)="url='http://localhost/BackendEtecsa/get_down.php'">Dar de baja a un cliente</a>
        <br>
      </div>
    </div>

    <!-- Formulario para e historial de llamadas -->
    <div class="col-8" *ngIf="(tipo_query=='Historial de llamadas' || tipo_query=='Dar de baja a un cliente') && draw_table==false">
      <p class="fs-3 text-center">{{tipo_query}}</p>
      <form  (ngSubmit)="executeQueryByPhone()" >
        <label class="form-label" for="telephone" >Número telefónico</label>
        <input type="text" id="telephone" class="form-control" placeholder="Inserte el número de teléfono de un cliente" name="telephone" [(ngModel)]="phone_number" required/>
        <br>
        <button data-mdb-ripple-init type="submit" class="btn btn-dark btn-block mb-4">Procesar</button>
      </form>
    </div>

    <div class="col-8" *ngIf="tipo_query=='Inserte Cliente'">
      <p class="fs-3 text-center">{{tipo_query}}</p>

      <!-- Formulario cool -->
      <form #clienteForm="ngForm" (ngSubmit)="submitFormClient(clienteForm.value)" >
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4">
          <div class="col">
            <div data-mdb-input-init class="form-outline">
              <input type="text" id="name" class="form-control" name="name" ngModel required/>
              <label class="form-label" for="name" >Nombre Completo</label>
            </div>
          </div>
          <div class="col">
            <div data-mdb-input-init class="form-outline">
              <input type="text" id="id" class="form-control" name="id" ngModel required/>
              <label class="form-label" for="id">CI del Cliente</label>
            </div>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col">
            <div data-mdb-input-init class="form-outline">
              <input type="text" id="address" class="form-control" name="address" ngModel required/>
              <label class="form-label" for="address">Direccion</label>
            </div>
          </div>
          <div class="col">
            <div data-mdb-input-init class="form-outline">
              <input type="text" id="telephone" class="form-control" name="telephone" ngModel required/>
              <label class="form-label" for="telephone">Numero de telefono</label>
            </div>
          </div>
        </div>
        <!-- Submit button -->
        <button data-mdb-ripple-init type="submit" class="btn btn-dark btn-block mb-4">Insertar Cliente</button>
       
      </form>

    </div>
    <!-- Tablaaaa -->
    <div class="col-8" *ngIf="draw_table==true">
      <p class="fs-3 text-center">{{tipo_query}}</p>
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="row">#</th>
            <th *ngFor="let atrib of atributos">{{atrib}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let elemento of elementos;let i=index">
            <th scope="row">{{i}}</th>
            <th *ngFor="let atrib of atributos"> {{elemento[atrib]}}</th>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>