<p>tablas works!</p>
<div>
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item list-group-item-action" (click)="BuscarTabla('client')">Tabla Clientes</li>
    <li class="list-group-item list-group-item-action">Tabla 2</li>
    <li class="list-group-item list-group-item-action">Tabla 3</li>
    <li class="list-group-item list-group-item-action">Tabla 4</li>
  </ul>
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="row">#</th>
        <th *ngFor="let atrib of atributos">{{atrib}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let elemento of elementos;let i=index">
        <th scope="row">{{i}}</th>
        <th *ngFor="let atrib of atributos"> {{elemento[atrib]}}</th>
      </tr>
    </tbody>
  </table>

</div>
