<p>tablas works!</p>
<div>
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item list-group-item-action" (click)="BuscarTabla('client','Tabla Clientes')">Tabla Clientes</li>
    <li class="list-group-item list-group-item-action" (click)="BuscarTabla('calls','Tabla Llamadas')">Tabla Llamadas</li>
    <li class="list-group-item list-group-item-action" (click)="BuscarTabla('country_taxes','Tabla Country Taxes')">Tabla Country Taxes</li>
    <li class="list-group-item list-group-item-action" (click)="BuscarTabla('residential_client','Clientes Residenciales')">Clientes Residenciales</li>
    <li class="list-group-item list-group-item-action" (click)="BuscarTabla('estate_client','Clientes Estatales')">Clientes Estatales</li>
  </ul>
  
  <p>{{nombre_a_imprimir}}</p>
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="row">#</th>
        <th *ngFor="let atrib of atributos">{{atrib}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let elemento of elementos;let i=index">
        <th scope="row">{{i}}</th>
        <th *ngFor="let atrib of atributos"> {{elemento[atrib]}}</th>
      </tr>
    </tbody>
  </table>

</div>
